* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  margin: 0 5% 5% 5%;
  font-family: "Roboto";
  font-style: normal;
}

textarea {
  resize: none;
  width: 800px;
  padding: 0;
  border-radius: 25px;
  border: 1px #D4B098 solid;
  background: #F7F5EF;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  border-radius: 25px;
  text-align: center;
  border: 1px #D4B098 solid;
  background: #F7F5EF;
}

.commTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FDFDFB;
  height: 100px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 43px;
  border-bottom: 1px #D4B098 solid;
  margin-bottom: 50px;
}

.flexComm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.flexComm .setMsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.flexComm .commArea {
  width: 800px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border: 1px #D4B098 solid;
  background: #F7F5EF;
}
.flexComm .commArea .comments {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: rgba(68, 66, 64, 0.7);
  margin: 1% 3% 1% 20%;
  padding: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  border-radius: 25px 0 25px 25px;
}
.flexComm .commArea .comments .flexIcon {
  top: 5px;
  right: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.alert {
  border-color: red;
}

.errBox {
  background: #FFFEFB;
  border: 1px solid #FF8484;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.errLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: -0.02em;
  color: #FF8484;
}
.like{
  color: red;
}